KAGGLE_USERNAME=your_kaggle_username_here
KAGGLE_KEY=your_kaggle_api_key_here
FRED_API_KEY=your_fred_api_key_here

# PostgreSQL warehouse connection (to be configured in V1-Fase 1)
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=retail_demand_intel
PG_USER=postgres
PG_PASSWORD=postgres

